<br>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table  table-dark table-hover  table-bordered table-stripped table-sm" id='tab'>
      <thead>
        <tr>
          <!-- Person Info Column -->
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email </th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>gender</th>

          <!-- Person Metric Info Column -->
          <th>School</th>
          <th>Majors</th>
          <th>Total Marks</th>
          <th>Obtain Marks</th>
          <th>Percentage</th>

          <!-- Person Metric Info Column -->
          <th>College</th>
          <th>Majors</th>
          <th>Total Marks</th>
          <th>Obtain Marks</th>
          <th>Percentage</th>

          <!-- Person Metric Info Column -->
          <th>UNI</th>
          <th>Degree</th>
          <th>CGPA</th>
          <!-- Delete Edit Profile -->
          <th>DELETE</th>
          <th>EDIT</th>
          <th>PROFILE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recod of recods">
          <td>{{ recod.firstname }}</td>
          <td>{{ recod.lastname }}</td>
          <td>{{ recod.email }}</td>
          <td>{{ recod.phone }}</td>
          <td>{{ recod.address }}</td>
          <td>{{ recod.city }}</td>
          <td>{{ recod.gender }}</td>
          <!-- Metric Information -->
          <td>{{ recod.metricInfo.insitute }}</td>
          <td>{{ recod.metricInfo.majors }}</td>
          <td>{{ recod.metricInfo.totalMarks }}</td>
          <td>{{ recod.metricInfo.obtainMarks }}</td>
          <td>{{ recod.metricInfo.percentage }}</td>
          <!-- College Informtion -->
          <td>{{ recod.collegeInfo.insitute }}</td>
          <td>{{ recod.collegeInfo.majors }}</td>
          <td>{{ recod.collegeInfo.totalMarks }}</td>
          <td>{{ recod.collegeInfo.obtainMarks }}</td>
          <td>{{ recod.collegeInfo.percentage }}</td>
          <!-- Uni Infomation -->
          <td>{{ recod.uniInfo.insitute }}</td>
          <td>{{ recod.uniInfo.degree }}</td>
          <td>{{ recod.uniInfo.CGPA }}</td>
          <!-- Delete Edit Profile -->
          <td><button (click)="onDelete(recod.person_id,$event)">Delete</button></td>
          <td><button (click)="onEdit(recod.person_id)"> Edit</button></td>
          <td><button routerLink="/profile" (click)="onProfile(recod.person_id)"><i class="fas fa-user"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
