<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngFor="let recod of recods">
      <div class="card">
        <h5 class="card-header"><span>{{recod.firstname}} </span><span>{{recod.lastname}}</span></h5>
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <div class="card-text">
            <span>Email: <span>{{recod.email}}</span></span><br>
            <span>Phone Number: <span>{{recod.phone}}</span></span><br>
            <span>School Name : <span>{{recod.metricInfo.insitute}}</span></span><br>
            <span>College Name : <span>{{recod.collegeInfo.insitute}}</span></span><br>
            <span>University Name : <span>{{recod.uniInfo.insitute}}</span></span><br>

          </div><br>
          <a routerLink='profile' class="btn btn-success" (click)="onProfileClick(recod.person_id)">Go to Profile</a>
        </div>

      </div><br>
    </div>
  </div>
</div>
