<div class="container">
  <form #userForm="ngForm">
    <!-- Personal Information -->
    <h4>Personal Information</h4>
    <!-- first name  -->
    <div class="form-group">
      <label>FirstName:</label>
      <input #firstname="ngModel" required type="text" [class.is-invalid]="firstname.invalid && firstname.touched"
        class="form-control" name="first_name" [(ngModel)]="userModule.firstname">
      <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">FirstName is required</small>
    </div>
    <!-- last name -->
    <div class="form-group">
      <label>Last Name:</label>
      <input #lastname="ngModel" required type="text" [class.is-invalid]="lastname.invalid && lastname.touched"
        class="form-control" name="lastname" [(ngModel)]="userModule.lastname">
      <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">LastName is required</small>

    </div>
    <!-- Email  -->
    <div class="form-group">
      <label>Email:</label>
      <input #email="ngModel" required type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
        [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email"
        [(ngModel)]="userModule.email">
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required ">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter correct email </small>
      </div>
    </div>
    <!-- phone  -->
    <div class="form-group">
      <label>Phone:</label>
      <input #phone="ngModel" required type="tel" pattern="^\d{11}$" [class.is-invalid]="phone.invalid && phone.touched"
        class="form-control" name="phone" [(ngModel)]="userModule.phone">
      <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.pattern">Enter correct phone Number </small>
        <small class="text-danger" *ngIf="phone.errors.required "> Phone Number is required</small>
      </div>
    </div>
    <!-- Address  -->
    <div class="form-group">
      <label>Address:</label>
      <input #address="ngModel" required type="text" [class.is-invalid]="address.invalid && address.touched"
        class="form-control" name="address" [(ngModel)]="userModule.address">
      <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required</small>

    </div>
    <!-- city  -->
    <div class="form-group">
      <label>City:</label>
      <input #city="ngModel" required type="text" [class.is-invalid]="city.invalid && city.touched" class="form-control"
        name="city" [(ngModel)]="userModule.city">
      <small class="text-danger" [class.d-none]="city.valid || city.untouched">City is required</small>

    </div>
    <!-- Gender -->
    <div class="form-group">
      <label>Gender:</label>
      <select class="custom-select" #gender="ngModel" required [class.is-invalid]="gender.invalid && gender.touched"
        name="gender" [(ngModel)]="userModule.gender">
        <option value="">Select gender</option>
        <option *ngFor="let gender of genders">{{gender}}</option>
      </select>
    </div>

    <!-- MEtric Information -->
    <h4>Metric Information</h4>
    <!-- Insitute  -->
    <div class="form-group">
      <label>Insitute:</label>
      <input #m_institute="ngModel" required [class.is-invalid]="m_institute.invalid && m_institute.touched" type="text"
        class="form-control" name="m_institute" [(ngModel)]="userModule.m_institute">
      <small class="text-danger" [class.d-none]="m_institute.valid || m_institute.untouched">Institute is
        required</small>

    </div>
    <!-- Majors  -->
    <div class="form-group">
      <label>Majors:</label>
      <input #m_majors="ngModel" required [class.is-invalid]="m_majors.invalid && m_majors.touched" type="text"
        class="form-control" name="m_majors" [(ngModel)]="userModule.m_majors">
      <small class="text-danger" [class.d-none]="m_majors.valid || m_majors.untouched">Majors is required</small>
    </div>
    <!-- total Marks  -->
    <div class="form-group">
      <label>Total Marks:</label>
      <input #m_totalMarks="ngModel" required min="1" [class.is-invalid]="m_totalMarks.invalid && m_totalMarks.touched"
        type="number" class="form-control" name="m_totalMarks" [(ngModel)]="userModule.m_totalMarks">
      <div *ngIf="m_totalMarks.errors && (m_totalMarks.invalid && m_totalMarks.touched)">
        <small class="text-danger" *ngIf="m_totalMarks.errors.required ">TotalMarks is required</small>
        <small class="text-danger" *ngIf="m_totalMarks.errors.min">Enter correct Total Marks </small>
      </div>
    </div>
    <!-- Obtain Marks  -->
    <div class="form-group">
      <label>Obtain Marks:</label>
      <input #m_obtainMarks="ngModel" required [class.is-invalid]="m_obtainMarks.invalid && m_obtainMarks.touched"
        type="number" class="form-control" name="m_obtainMarks" [(ngModel)]="userModule.m_obtainMarks">
      <div *ngIf="m_obtainMarks.errors && (m_obtainMarks.invalid && m_obtainMarks.touched)">
        <small class="text-danger" *ngIf="m_obtainMarks.errors.required ">Obtain Marks is required</small>
        <small class="text-danger" *ngIf="m_obtainMarks.errors.min">Enter correct Obtain Marks </small>
      </div>
    </div>
    <!-- percentage  -->
    <div class="form-group">
      <label>Percentage:</label>
      <input #m_percentage="ngModel" required [class.is-invalid]="m_percentage.invalid && m_percentage.touched"
        type="number" class="form-control" name="m_percentage" [(ngModel)]="userModule.m_percentage">
      <div *ngIf="m_percentage.errors && (m_percentage.invalid && m_percentage.touched)">
        <small class="text-danger" *ngIf="m_percentage.errors.required ">Percenteage is required</small>
        <small class="text-danger" *ngIf="m_percentage.errors.min">Enter correct Percentage</small>
      </div>
    </div>

    <!-- college Information -->
    <h4>College Information</h4>
    <!-- Insitute  -->
    <div class="form-group">
      <label>Insitute:</label>
      <input #c_institute="ngModel" required [class.is-invalid]="c_institute.invalid && c_institute.touched" type="text"
        class="form-control" name="c_institute" [(ngModel)]="userModule.c_institute">
      <small class="text-danger" [class.d-none]="c_institute.valid || c_institute.untouched">Institute is
        required</small>

    </div>
    <!-- Majors  -->
    <div class="form-group">
      <label>Majors:</label>
      <input #c_majors="ngModel" required min="0" [class.is-invalid]="c_majors.invalid && c_majors.touched" type="text"
        class="form-control" name="c_majors" [(ngModel)]="userModule.c_majors">
      <small class="text-danger" [class.d-none]="c_majors.valid || c_majors.untouched">Majors is required</small>

    </div>
    <!-- total Marks  -->
    <div class="form-group">
      <label>Total Marks:</label>
      <input #c_totalMarks="ngModel" required [class.is-invalid]="c_totalMarks.invalid && c_totalMarks.touched"
        type="number" class="form-control" name="c_totalMarks" [(ngModel)]="userModule.c_totalMarks">
      <div *ngIf="c_totalMarks.errors && (c_totalMarks.invalid && c_totalMarks.touched)">
        <small class="text-danger" *ngIf="c_totalMarks.errors.required ">TotalMarks is required</small>
        <small class="text-danger" *ngIf="c_totalMarks.errors">Enter correct Total Marks </small>
      </div>
    </div>
    <!-- Obtain Marks  -->
    <div class="form-group">
      <label>Obtain Marks:</label>
      <input #c_obtainMarks="ngModel" required [class.is-invalid]="c_obtainMarks.invalid && c_obtainMarks.touched"
        type="number" class="form-control" name="c_obtainMarks" [(ngModel)]="userModule.c_obtainMarks">
      <div *ngIf="c_obtainMarks.errors && (c_obtainMarks.invalid && c_obtainMarks.touched)">
        <small class="text-danger" *ngIf="c_obtainMarks.errors.required ">Obtain Marks is required</small>
        <small class="text-danger" *ngIf="c_obtainMarks.errors.min">Enter correct Obtain Marks </small>
      </div>
    </div>
    <!-- percentage  -->
    <div class="form-group">
      <label>Percentage:</label>
      <input #c_percentage="ngModel" min=0 required [class.is-invalid]="c_percentage.invalid && c_percentage.touched"
        type="number" class="form-control" name="c_percentage" [(ngModel)]="userModule.c_percentage">
      <div *ngIf="c_percentage.errors && (c_percentage.invalid && c_percentage.touched)">
        <small class="text-danger" *ngIf="c_percentage.errors.required ">Percenteage is required</small>
        <small class="text-danger" *ngIf="c_percentage.errors.min">Enter correct Percentage</small>
      </div>
    </div>

    <!-- Uni Information -->
    <h4>UNI Information</h4>
    <!-- Insitute  -->
    <div class="form-group">
      <label>Insitute:</label>
      <input #u_institute="ngModel" required [class.is-invalid]="u_institute.invalid && u_institute.touched" type="text"
        class="form-control" name="u_institute" [(ngModel)]="userModule.u_institute">
      <small class="text-danger" [class.d-none]="u_institute.valid || u_institute.untouched">Uni Name is
        required</small>

    </div>
    <!-- Degree -->
    <div class="form-group">
      <label>Degree:</label>
      <input #u_degree="ngModel" required [class.is-invalid]="u_degree.invalid && u_degree.touched" type="text"
        class="form-control" name="u_degree" [(ngModel)]="userModule.u_degree">
      <small class="text-danger" [class.d-none]="u_degree.valid || u_degree.untouched">Degree is required</small>

    </div>
    <!-- CGPA  -->
    <div class="form-group">
      <label>CGPA:</label>
      <input #u_cgpa="ngModel" required [class.is-invalid]="u_cgpa.invalid && u_cgpa.touched" type="number"
        class="form-control" name="u_cgpa" [(ngModel)]="userModule.u_cgpa">
      <div *ngIf="u_cgpa.errors && (u_cgpa.invalid && u_cgpa.touched)">
        <small class="text-danger" *ngIf="u_cgpa.errors.required ">CGPA is required</small>
        <small class="text-danger" *ngIf="u_cgpa.errors.min">Enter correct Percentage</small>
      </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid" (click)="onSubmit()">Submit</button>
  </form>
  {{userForm.value |json}}
  <hr>
  {{userModule | json}}

</div>
