<div class="container main">
  <div class="row">
    <div class="col-sm-12">
      <h1>Personal Infomation </h1><br>
      <button routerLink="/form" class=" btn btn-dark ">Form</button>
      <button routerLink="/table" class=" btn btn-dark ">Table</button>
      <button routerLink="/cardlayout" class=" btn btn-dark">CardLayout</button>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
