<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 personal">
      <h1 [innerHTML]="name"> </h1>
      <label [innerHTML]="email"></label><br>
      <label [innerHTML]="phone"></label><br>
      <label [innerHTML]="address"></label><br>
      <label [innerHTML]="city"></label><br>
      <label [innerHTML]="gender"></label><br>
    </div>
  </div>

  <div class="row eduactionInfo">
    <div class="col-lg-4 insituteInfo">
      <h3>School Details</h3>
      <label>Scholl Name: <span>{{insituteMetric}}</span></label><br>
      <label>Mojors Subjects: <span></span>{{majorsMetric}}</label><br>
      <label>Total Marks: <span></span>{{tmMetric}}</label><br>
      <label>Obtain Marks: <span></span>{{omMetric}}</label><br>
      <label>Percentage: <span>{{pMetric}}</span><span>%</span></label><br>

    </div>
    <div class="col-lg-4 insituteInfo">
      <h3>College Details</h3>
      <label>College Name: <span [innerHTML]="insituteCollege"></span></label><br>
      <label>Mojors Subjects: <span [innerHTML]="majorsCollege"></span></label><br>
      <label>Total Marks: <span [innerHTML]="tmCollege"></span></label><br>
      <label>Obtain Marks: <span [innerHTML]="omCollege"></span></label><br>
      <label>Percentage: <span [innerHTML]="pCollege"></span><span>%</span></label><br>
    </div>

    <div class="col-lg-4 insituteInfo">
      <h3>UNi Details </h3>
      <label>Uni Name: <span>{{insituteUni}}</span></label><br>
      <label>Degree Name: <span>{{degree}}</span></label><br>
      <label>CGPA: <span></span>{{cgpa}}</label><br>
    </div>
  </div>
